<!DOCTYPE html>
<html>
<head>

    <title></title>
</head>
<body>



<form action="__URL__/updateFile" method="POST" >
<table width="500px" align="center" cellspacing="10">

    <tr><td width="5%">文件编号</td><td width="20%" align="left"><input type="text" name="id" value="{$data['id']}" readonly="readonly"></td></tr>
   <tr><td width="5%">文件名称</td>  <td width="20%" align="left"><input type="text" name="filename" value="{$data['filename']}"></td></tr>
    <tr> <td width="5%">文件描述</td><td  width="20%" align="left"><input type="text" name="depict" value="{$data['depict']}"></td></tr>
    <tr><td width="5%"  align="left">&nbsp</td><td><input type="submit" value="提交" ></td></tr>


</table>
</form>


</form>
</body>
</html>